<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
</head>
<body>
	<% include nav.ejs %>
	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
	<h1>Admin Panel</h1>

	</div>
</body>
</html>