<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
	<script>
	(function(w,d,s,g,js,fs){
	  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
	  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
	  js.src='https://apis.google.com/js/platform.js';
	  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
	}(window,document,'script'));
	</script>
</head>
<body>
	<% include nav.ejs %>
	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
		<h1>Admin Panel</h1>
		<div class="uk-grid">
		    <div class="uk-width-medium-3-4 uk-margin-bottom">
		        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
		        	<div class="uk-panel uk-panel-header">
		        		<h3 class="uk-panel-title">Orders</h3>
		        	</div>

		        	<table class="uk-table uk-table-hover">
					    <thead>
					        <tr>
					            <th>Name</th>
					            <th>Email</th>
					            <th>Details</th>
					            <th>Payments</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr>
					            <td>Joel</td>
					            <td>joevo2@gmail.com</td>
					            <td>2x Pusheen</td>
					            <td>Done</td>
					        </tr>
					        <tr>
					            <td>...</td>
					            <td>...</td>
					            <td>...</td>
					            <td>...</td>
					        </tr>
					    </tbody>
					</table>
		        </div>
		    </div>
		    <div class="uk-width-medium-1-4">
		        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
		        	<div class="uk-panel uk-panel-header">
		        		<h3 class="uk-panel-title">Statistics</h3>
		        	</div>
		        	<div class="uk-margin">
			        	<div id="embed-api-auth-container"></div>
						<div id="chart-container"></div>
						<div id="view-selector-container"></div>

						<script>
						gapi.analytics.ready(function() {

						  /**
						   * Authorize the user immediately if the user has already granted access.
						   * If no access has been created, render an authorize button inside the
						   * element with the ID "embed-api-auth-container".
						   */
						  gapi.analytics.auth.authorize({
						    container: 'embed-api-auth-container',
						    clientid: '201363191082-amgjhu76mclcg9vh35e0j0vgdoe0klns.apps.googleusercontent.com',
						  });


						  /**
						   * Create a new ViewSelector instance to be rendered inside of an
						   * element with the id "view-selector-container".
						   */
						  var viewSelector = new gapi.analytics.ViewSelector({
						    container: 'view-selector-container'
						  });

						  // Render the view selector to the page.
						  viewSelector.execute();


						  /**
						   * Create a new DataChart instance with the given query parameters
						   * and Google chart options. It will be rendered inside an element
						   * with the id "chart-container".
						   */
						  var dataChart = new gapi.analytics.googleCharts.DataChart({
						    query: {
						      metrics: 'ga:sessions',
						      dimensions: 'ga:date',
						      'start-date': '30daysAgo',
						      'end-date': 'yesterday'
						    },
						    chart: {
						      container: 'chart-container',
						      type: 'LINE',
						      options: {
						        width: '100%'
						      }
						    }
						  });


						  /**
						   * Render the dataChart on the page whenever a new view is selected.
						   */
						  viewSelector.on('change', function(ids) {
						    dataChart.set({query: {ids: ids}}).execute();
						  });

						});
						</script>
					</div>
		        </div>
		    </div>
		</div>
	</div>
</body>
</html>