<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
</head>
<body>
	<% include nav.ejs %>
	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
		<h1>Alpaca Lab</h1>
		<div class="uk-grid" >
			<p>Where magic happens</p>
			<img src="http://www.aghistoryproject.org/wp-content/uploads/2013/11/Alpaca-In-Snow.jpg">
		</div>
	</div>
</body>
</html>