<nav class="uk-navbar">
	<a class="uk-navbar-brand" href="/">Alpaca Lab</a>
	<ul class="uk-navbar-nav">
	    <li><a href="/pusheen">Pusheen</a></li>
	    <li><a href="">About</a></li>
	    <li class="uk-parent"><a href="">Contact us</a></li>
	</ul>
</nav>