<!DOCTYPE html>
<html>
    <head>
        <% include header.ejs %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.18.0/css/components/slideshow.min.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.18.0/js/components/slideshow.min.js"></script>
    </head>
    <body>
    	<% include nav.ejs %>
    	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    	   	<div class="uk-alert uk-alert-danger">Work in progress, not open for business yet 😛 </div>
	    	<h1>Pusheen :3</h1>
	    	<div class="uk-grid" >
	    		<!-- Pusheen panel -->
		    	<div class="uk-width-medium-2-4">
		        	<div class="uk-panel">
		        		<div data-uk-slideshow="{autoplay:true}">
	                        <ul class="uk-slideshow">
	                            <li><img src="http://i.imgur.com/0Csi6sm.png" alt=""></li>
	                            <li><img src="http://i.imgur.com/Gh6qet6.png" alt=""></li>
	                            <li><img src="http://i.imgur.com/TmxjCiQ.png" alt=""></li>
	                            <li><img src="http://i.imgur.com/pu0hSna.png" alt=""></li>
	                            <li><img src="http://i.imgur.com/noJfGQo.png" alt=""></li>
	                            <li><img src="http://i.imgur.com/4LURvyi.png" alt=""></li>
	                            <li><img src="http://i.imgur.com/noJfGQo.png" alt=""></li>
	                        </ul>
	                        <ul class="uk-grid uk-grid-width-1-3">
	                            <li><a data-uk-slideshow-item="0"><img src="http://i.imgur.com/0Csi6sm.png"></a></li>
	                            <li><a data-uk-slideshow-item="1"><img src="http://i.imgur.com/Gh6qet6.png"></a></li>
	                            <li><a data-uk-slideshow-item="2"><img src="http://i.imgur.com/TmxjCiQ.png"></a></li>
	                            <li><a data-uk-slideshow-item="3"><img src="http://i.imgur.com/pu0hSna.png"></a></li>
	                            <li><a data-uk-slideshow-item="4"><img src="http://i.imgur.com/noJfGQo.png"></a></li>
	                            <li><a data-uk-slideshow-item="5"><img src="http://i.imgur.com/4LURvyi.png"></a></li>
	                        </ul>
                    	</div>
		        	</div>
		    	</div>
		    	<!-- Details panel -->
		    	<div class="uk-width-medium-1-4">
		    		<div class="uk-panel">
		        		<article class="uk-article">
						    <h1 class="uk-article-lead">Details</h1>
						    <div class="uk-alert"><b>RM69</b> Shipping Included </div>
			        		<div class="uk-alert uk-alert-warning">Currently only ship to <b>Malaysia</b>, for other shipment please email to 
			        			<a href="mailto:joevo2@gmail.com?Subject=Pusheen%20Shiping" target="_top">us</a>
			        		</div>
						    <p class="uk-article-meta">Shipping should take around 2 weeks</p>
						    <dl class="uk-description-list-line">
							    <dt>Package include:</dt>
							    <dd>2x Pusheen</dd>
							    <dt>Size:</dt>
							    <dd>40x30cm</dd>
							    <dt>Colors:</dt>
							    <dd>Grey, White, Black, Pink, Orange</dd>
							</dl>
						</article>
		        	</div>
		    	</div>
		    	<!-- Payment panel -->
		    	<div class="uk-width-medium-1-4">
		    		<div class="uk-panel">
		    			<h3 class="uk-panel-title">Choose your pusheen</h3>
		    			<form class="uk-form">

						    <fieldset data-uk-margin>
						        <input type="email" placeholder="Email">
						        <p class="uk-form-controls-condensed">Pusheen color combination</p>
						        <select>
						            <option>Grey</option>
						            <option>White</option>
						            <option>Black</option>
						            <option>Pink</option>
						            <option>Orange</option>
						        </select>
						        <select>
						            <option>Grey</option>
						            <option>White</option>
						            <option>Black</option>
						            <option>Pink</option>
						            <option>Orange</option>
						        </select>
						    </fieldset>

						</form>
		    		</div>

			    	<div class="uk-panel">
			    		<h3 class="uk-panel-title">Payment</h3>
			    		<form id="checkout" method="post" action="/checkout">
						  <div id="dropin"></div>
						  <input class="uk-button uk-button-primary uk-button-large" type="submit" value="Pay RM69">
						</form>
						<div class="uk-margin-top" data-uk-dropdown>
						    <button class="uk-button uk-button"><b>RM65</b> Bank Deposit</button>
						    <div class="uk-dropdown">
						    	Maybank 114405116181 Joel Yek Zong Yong<br>
						    	email proof of transaction to 
						    	<a href="mailto:joevo2@gmail.com?Subject=Pusheen%20Payment" target="_top">joevo2@gmail.com</a>
						    </div>
						</div>
						<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
						<script>
						  braintree.setup(
						    // Replace this with a client token from your server
						    "eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiI5M2MxNjE4YWZmYzNhMzk4OTdlNDQxZDY5MzEyOTVkMGRmOTI4ODNlNmJjNWE5YWFkMmFjOTE5N2ZhMGZiNTQxfGNyZWF0ZWRfYXQ9MjAxNS0wNC0wNlQwODo0NzoyOS43NTI2NzQzMzUrMDAwMFx1MDAyNm1lcmNoYW50X2lkPWRjcHNweTJicndkanIzcW5cdTAwMjZwdWJsaWNfa2V5PTl3d3J6cWszdnIzdDRuYzgiLCJjb25maWdVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvZGNwc3B5MmJyd2RqcjNxbi9jbGllbnRfYXBpL3YxL2NvbmZpZ3VyYXRpb24iLCJjaGFsbGVuZ2VzIjpbXSwiY2xpZW50QXBpVXJsIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5icmFpbnRyZWVnYXRld2F5LmNvbTo0NDMvbWVyY2hhbnRzL2RjcHNweTJicndkanIzcW4vY2xpZW50X2FwaSIsImFzc2V0c1VybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tIiwiYXV0aFVybCI6Imh0dHBzOi8vYXV0aC52ZW5tby5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIiwiYW5hbHl0aWNzIjp7InVybCI6Imh0dHBzOi8vY2xpZW50LWFuYWx5dGljcy5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIn0sInRocmVlRFNlY3VyZUVuYWJsZWQiOnRydWUsInRocmVlRFNlY3VyZSI6eyJsb29rdXBVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvZGNwc3B5MmJyd2RqcjNxbi90aHJlZV9kX3NlY3VyZS9sb29rdXAifSwicGF5cGFsRW5hYmxlZCI6dHJ1ZSwicGF5cGFsIjp7ImRpc3BsYXlOYW1lIjoiQWNtZSBXaWRnZXRzLCBMdGQuIChTYW5kYm94KSIsImNsaWVudElkIjpudWxsLCJwcml2YWN5VXJsIjoiaHR0cDovL2V4YW1wbGUuY29tL3BwIiwidXNlckFncmVlbWVudFVybCI6Imh0dHA6Ly9leGFtcGxlLmNvbS90b3MiLCJiYXNlVXJsIjoiaHR0cHM6Ly9hc3NldHMuYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhc3NldHNVcmwiOiJodHRwczovL2NoZWNrb3V0LnBheXBhbC5jb20iLCJkaXJlY3RCYXNlVXJsIjpudWxsLCJhbGxvd0h0dHAiOnRydWUsImVudmlyb25tZW50Tm9OZXR3b3JrIjp0cnVlLCJlbnZpcm9ubWVudCI6Im9mZmxpbmUiLCJ1bnZldHRlZE1lcmNoYW50IjpmYWxzZSwiYnJhaW50cmVlQ2xpZW50SWQiOiJtYXN0ZXJjbGllbnQiLCJtZXJjaGFudEFjY291bnRJZCI6InN0Y2gybmZkZndzenl0dzUiLCJjdXJyZW5jeUlzb0NvZGUiOiJVU0QifSwiY29pbmJhc2VFbmFibGVkIjp0cnVlLCJjb2luYmFzZSI6eyJjbGllbnRJZCI6IjExZDI3MjI5YmE1OGI1NmQ3ZTNjMDFhMDUyN2Y0ZDViNDQ2ZDRmNjg0ODE3Y2I2MjNkMjU1YjU3M2FkZGM1OWIiLCJtZXJjaGFudEFjY291bnQiOiJjb2luYmFzZS1kZXZlbG9wbWVudC1tZXJjaGFudEBnZXRicmFpbnRyZWUuY29tIiwic2NvcGVzIjoiYXV0aG9yaXphdGlvbnM6YnJhaW50cmVlIHVzZXIiLCJyZWRpcmVjdFVybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tL2NvaW5iYXNlL29hdXRoL3JlZGlyZWN0LWxhbmRpbmcuaHRtbCJ9LCJtZXJjaGFudElkIjoiZGNwc3B5MmJyd2RqcjNxbiIsInZlbm1vIjoib2ZmbGluZSIsImFwcGxlUGF5Ijp7InN0YXR1cyI6Im1vY2siLCJjb3VudHJ5Q29kZSI6IlVTIiwiY3VycmVuY3lDb2RlIjoiVVNEIiwibWVyY2hhbnRJZGVudGlmaWVyIjoibWVyY2hhbnQuY29tLmJyYWludHJlZXBheW1lbnRzLmRldi1kY29wZWxhbmQiLCJzdXBwb3J0ZWROZXR3b3JrcyI6WyJ2aXNhIiwibWFzdGVyY2FyZCIsImFtZXgiXX19",
						    'dropin', {
						      container: 'dropin'
						    });
						</script>
			    	</div>
			    </div>
		    </div>
		</div>
    </body>
</html>